In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
gdp_df = pd.read_csv('../data/gdp_per_capita.csv', index_col=0, skipfooter=2, engine='python')

In [18]:
gdp_df.drop('Value Footnotes', axis=1)

                 Year        Value
Country or Area
Afghanistan      2019  2065.036398
Afghanistan      2018  2033.779002
Afghanistan      2017  2058.383832
Afghanistan      2016  2057.062164
Afghanistan      2015  2068.265904
...               ...          ...
Zimbabwe         1994  3263.934978
Zimbabwe         1993  3033.504852
Zimbabwe         1992  3054.889178
Zimbabwe         1991  3426.598094
Zimbabwe         1990  3324.348171

[6868 rows x 2 columns]

In [15]:
gdp_df.rename(columns={'Country or Area': 'Country', 'Value': 'GDP_Per_Capita'})

                 Year  GDP_Per_Capita  Value Footnotes
Country or Area
Afghanistan      2019     2065.036398              NaN
Afghanistan      2018     2033.779002              NaN
Afghanistan      2017     2058.383832              NaN
Afghanistan      2016     2057.062164              NaN
Afghanistan      2015     2068.265904              NaN
...               ...             ...              ...
Zimbabwe         1994     3263.934978              NaN
Zimbabwe         1993     3033.504852              NaN
Zimbabwe         1992     3054.889178              NaN
Zimbabwe         1991     3426.598094              NaN
Zimbabwe         1990     3324.348171              NaN

[6868 rows x 3 columns]

##testing

lets see how this works, testing